<div class="li-main-wrapper" style="height: 100vh; width: 100%;">
      
	<!-- Independent Senior Living and Assisted Living Row -->
	<div class="row">
	
	<div class="col-xs-12">
		<h4 style="margin-left: 2%;">Click on an image to learn more!</h4>  
	</div>
	
	<!-- Independent Senior Living Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#seniorLivingModal">
			<img src="img/uv wellness 2.png" alt="Apartment Homes at Union Village"/>
			<div id="overlay_text"><span style="margin-left: 5px;">Las Vegas Athletic Club</span></div>
		</a>
		</div>
	</div>
	
	<!-- Independent Senior Living Modal -->
	<div id="seniorLivingModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Las Vegas Athletic Club</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
	
					<iframe src="http://www.lvac.com/vip-free-pass/" style="width: 90%; height: 400px;"></iframe>
	
				</div>
				<!-- End of Modal Content -->
				
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				<!-- End of Modal Footer -->
				
			</div>
		</div>
	</div>
	<!-- End of Independent Senior Living Modal -->
	
	
	
	<!-- Assisted Living Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#assistedLivingModal">
			<img src="img/franklin park assisted living.png" alt="Senior Living Apartments at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Jamba Juice</span></div>
		</a>
		</div>
	</div>
	
	<!-- Assisted Living Modal -->
	<div id="assistedLivingModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Jamba Juice</h4>
				</div>
				<div class="modal-body">
					
					<p>This is where we will enter in things like signing up, ordering, etc.</p>
					
				</div>
				<!-- End of Modal Content -->
				
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				<!-- End of Modal Footer -->
				
			</div>
		</div>
	</div>
	
	
	<!-- Memory Care Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#memoryCareModal">
			<img src="img/memory care.jpg" alt="Franklin Park Independet Senior Living at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Franklin Park - Independent Senior Living</span></div>
		</a>
		</div>
	</div>
	
	<!-- Memory Care Modal -->
	<div id="memoryCareModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Franklin Park - Independent Senior Living</h4>
			</div>
			<div class="modal-body">
			<p>When you think of senior living communities, what comes to mind? Walks on beautiful trails, chauffeur services, shopping, dining, tickets to world class entertainment? Imagine your life in those terms, and you’ll have a good idea of what independent living is like at Franklin Park at Union Village. It’s a place with a little bit of “retirement” and a whole lot of “community.” A place where friendships form and adventures are planned—often at the very same time.</p>
			<ul>
				<li>Choose from a variety of apartment sizes and styles designed to fit your lifestyle</li>
				<li>Indulge in our designer window coverings, flooring, and carpeting</li>
				<li>Savor the convenience of a personal kitchen among your dining options</li>
				<li>Enjoy meals with your friends in our bistro or in your own apartment</li>
				<li>Access the finest in Health Care and Wellness</li>
			</ul>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing from Franklin Park - Independent Senior Living at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Franklin Park - Independent Senior Living" selected>Franklin Park - Independent Senior Living</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	<!-- End of Memory Care Modal -->
		
	
	
	<!-- Senior Apartments Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#seniorApartmentsModal">
			<img src="img/seniorliving.png" alt="Assisted Living at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Franklin Park – Assisted Living</span></div>
		</a>
		</div>
	</div>
	
	<!-- Senior Apartments Modal -->
	<div id="seniorApartmentsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Franklin Park - Assisted Living</h4>
			</div>
			<div class="modal-body">
			<p>At Franklin Park, we pride ourselves on providing assisted living services when they’re needed. There are no cookie cutter plans here—everything is customized to the individual, with the ability to add or drop services at any time. Whether it’s medication management, helping with mobility, coordinating care with your physicians, or making sure you look your best at happy hour, our friendly, professional staff is here to help.</p>
			<br>
			<p>To make sure we’re supporting your every need, we’ll conduct initial and ongoing assessments in coordination with you and your family, addressing services in the following areas:</p>
			<ul>
				<li>Activity & Social Planning</li>
				<li>Eating, Drinking & Meal Support</li>
				<li>Dressing Assistance</li>
				<li>Mobility & Escort Assistance</li>
				<li>Showering & Bathing</li>
				<li>Personal Appearance & Hygiene Assistance</li>
				<li>Continence Support & Incontinence Maintenance</li>
				<li>Communication Assistance</li>
				<li>Cognitive Support</li>
				<li>Health Maintenance</li>
				<li>Care Coordination</li>
			</ul>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing from Franklin Park - Assisted Living at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Franklin Park - Assisted Living" selected>Franklin Park - Assisted Living</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	
	
	<!-- Wellness Center Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#wellnessCenterModal">
			<img src="img/uv wellness 1.png" alt="Franklin Park Memory Care at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Franklin Park – Memory Care</span></div>
		</a>
		</div>
	</div>
	
	<!-- Wellness Center Modal -->
	<div id="wellnessCenterModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Franklin Park - Memory Care</h4>
			</div>
			<div class="modal-body">
			<p>We believe in caring for the whole person and the whole family. Dementia is difficult for everyone—there's no question. There's also no question that you're doing everything you can to help the person you love. But what if someone could help the whole family, and relieve the inevitable stress that comes from constant memory care? Franklin Park can help your loved one find meaning and contentment in each new day, so you can enjoy every moment you have with them.</p>
			<br><br>
			<p>We offer person-centered dementia and Alzheimer's care to the Las Vegas community because we believe families dealing with dementia can still finding meaning and comfort. Our programs fit the person and the family, not the other way around. We start by pairing our positive, loving, and empathetic caregivers with your loved one to craft a life story. This story becomes the foundation upon which we tailor each day, because it helps our caregivers visualize the special moments that have shaped your loved one's life.</p>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing from Franklin Park - Memory Care at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Franklin Park - Memory Care" selected>Franklin Park - Memory Care</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	<!-- End of Wellness Center Modal -->
	
	
	<!-- Townhome Apartments Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#townhomeApartmentsModal">
			<img src="img/franklin park townhomes.png" alt="Wellness Mall at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Wellness Mall</span></div>
		</a>
		</div>
	</div>
	
	<!-- Townhome Apartments Modal -->
	<div id="townhomeApartmentsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Wellness Mall</h4>
			</div>
			<div class="modal-body">
			<p>The Wellness Mall at Union Village is a place where Villagers as well as the community can come to find the best in wellness.  Wellness is much more than healthcare; its goal is to bring all aspects of being human into balance. Most Wellness Centers have one or two centers of excellence.  By providing a “mall concept”, the Wellness Mall at Union Village can coordinate the finest care in numerous centers of excellence. Rental space is available, only to the finest providers, on a yearly, daily and/or hourly basis.</p>
			<br>
			<p>Our tenant availability is below:</p>
			<div class="row">
				
				<!-- Left Column -->
				<div class="col-sm-6 col-xs-12">
				
				<label>Wellness Tenants</label>
				<ul style="margin: 0px; list-style: none;">
					<li><input type="checkbox" disabled> Pharmacy</li>
					<li><input type="checkbox" disabled> Telemedicine</li>
					<li><input type="checkbox" disabled> Outpatient Therapy</li>
					<li><input type="checkbox" disabled> Eye Clinic</li>
					<li><input type="checkbox" disabled> Mental Health</li>
					<li><input type="checkbox" disabled> Home Health Agency</li>
					<li><input type="checkbox" disabled> Demonstration Kitchen</li>
					<li><input type="checkbox" disabled> Dental Clinic</li>
					<li><input type="checkbox" disabled> Vitamin Store</li>
					<li><input type="checkbox" disabled> Diabetic Clinic</li>
					<li><input type="checkbox" disabled> Chiropractic Office</li>
					<li><input type="checkbox" disabled> Molecular-puncture</li>
					<li><input type="checkbox" disabled> Acupuncture</li>
					<li><input type="checkbox" disabled> Other Wellness</li>
				</ul>
				
				<br>
				
				<label>Notes:</label>
				<ul style="margin: 0px; list-style: none;">
					<li><input type="checkbox" disabled> Available</li>
					<li><input type="checkbox" disabled> Tenants Secured</li>
				</ul>
				
				</div>
				<!-- End of Left Column -->
				
				
				<!-- Right Column -->
				<div class="col-sm-6 col-xs-12">
				
				<label>Aging Clinic</label>
				<ul style="margin: 0px; list-style: none;">
					<li><input type="checkbox" disabled> Power Aging Offices</li>
					<li><input type="checkbox" disabled> Conference Rooms</li>
					<li><input type="checkbox" disabled> Wellness Coach</li>
					<li><input type="checkbox" disabled> Fitness Center</li>
					<li><input type="checkbox" disabled> Locker Rooms</li>
					<li><input type="checkbox" disabled> Lap Pool</li>
					<li><input type="checkbox" disabled> Exercise Pool</li>
					<li><input type="checkbox" disabled> Warm Water Therapy</li>
					<li><input type="checkbox" disabled> Spa</li>
				</ul>
				
				<br>
				
				<label>Professional Athlete Training & Rehab</label>
				<ul style="margin: 0px; list-style: none;">
					<li><input type="checkbox" disabled> Offices</li>
					<li><input type="checkbox" disabled> Nutrition Office</li>
					<li><input type="checkbox" disabled> Conference Rooms</li>
					<li><input type="checkbox" disabled> Treatment/Therapy</li>
					<li><input type="checkbox" disabled> Lab</li>
					<li><input type="checkbox" disabled> Turf Practice Area</li>
					<li><input type="checkbox" disabled> Locker Rooms</li>
					<li><input type="checkbox" disabled> Nutrition Café</li>
				</ul>
				
				</div>
				<!-- End of Right Column -->
				
			</div>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing Wellness Mall space at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Wellness Mall" selected>Wellness Mall</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	<!-- End of Townhome Modal -->
	
	</div>

	<!-- End of Top Row -->
	
	
	
	<!-- Medical Office and Retail Row -->
	<div class="row" style="margin-bottom: 5%;">
	
	<!-- Medical Office Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#medicalOfficeModal">
			<img src="img/uv wellness 10.png" alt="Medical Office Building at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Medical Office Building</span></div>
		</a>
		</div>
	</div>
	
	<!-- Medical Office Modal -->
	<div id="medicalOfficeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Medical Office Building</h4>
			</div>
			<div class="modal-body">
			<p>New on campus 80,000 SF medical office building scheduled to open in the near future</p>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing Medical Office space at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Medical Office Building" selected>Medical Office Building</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	<!-- End of Medical Office Modal -->
	
	
	
	<!-- Retail Column -->
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="inner-wrapper">
		<a ui-sref="#" data-toggle="modal" data-target="#unionPlaceModal">
			<img src="img/retailpromenade2.png" alt="Retail Promenade at Union Village" />
			<div id="overlay_text"><span style="margin-left: 5px;">Retail</span></div>
		</a>
		</div>
	</div>
	
	<!-- Retail Modal -->
	<div id="unionPlaceModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Retail</h4>
			</div>
			<div class="modal-body">
			<p>UnionVillage is currently making plans for a number of retail users including, but not limited to:</p>
			<ul>
				<li>Restaurants</li>
				<li>Dry Cleaner</li>
				<li>Coffee Shop</li>
				<li>Banks</li>
				<li>Market</li>
				<li>Cinema</li>
				<li>Other Retail users</li>
			</ul>
			<!--<p style="font-size: 18px; margin-top: 5%;">For more information, or to be put on the waiting list, please click <a ng-href="mailto:leasing@unionvillage.net?subject=Inquiring%20About%20Leasing%20At%20Union%20Village&body=Name:%0D%0DContact%20Info:%0D%0DSpace%20I'm%20Inquiring%20About:%0D%0D">here</a> or email leasing@unionvillage.net</p>-->
			<span style="text-align: center;"><h3>For more information on leasing Retail at Union Village fill out the contact form below</h3></span>
			
			<form action="php/leasing_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
				<label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
				<input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
				
				<label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
				<input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
				
				<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
				<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
				
				
				<label for="message" style="margin-top: 0px;">Message:</label>
				<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>
				
				
				<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
				<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
					<option value="Retail" selected>Retail</option>
				</select><br>
				
				<input class="btn btn-primary" type="submit" name="submit" value="Submit">
			</form>
			</div>
			<!-- End of Modal Content -->
			
			<!-- Modal Footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!-- End of Modal Footer -->
			
		</div>
		</div>
	</div>
	<!-- End of Retail Modal -->
	
	
	</div>
	<!-- End of Row -->
	
</div>
<!-- End of Body Contents -->