<div class="pgWrapper" ng-controller="dashboardCtrl" style="height: 100vh; width: 100%;">
	
	<div class="row" style="height: 100%; margin-top: 50px;">
		
		<!--<div class="col-xs-12">
			<marquee title="Holding your cursor over this stops the marquee." onmouseover="this.stop();" onmouseout="this.start();">
				<h1>ALERT!</h1>
				<h3>This is a sample alert message being tested for all Union Village Residents</h3>
			</marquee>
		</div>-->
		
		
		<!-- Column Containing Community Info -->
		<div class="col-xs-12 col-md-8" style="height: 100%; margin-bottom: 7%;">
			<div style="width: 95%; height: 45px; background: linear-gradient(to right, #837e72, #a9a59e, #fff);">
				<h1 style="margin-left: 17px; color: #fff;">Community Info</h1>
			</div>
			<br><br>
			<div style="width: 100%; padding-left: 20px; padding-right: 10px; margin-top: -50px;">
				
				<!-- Resident Resources Section -->
				<h3 style="color: #369;">Resident Resources</h3>
				
				<p><b>Apartment Search:</b> Are you relocating? <a>Search</a> for other Union Village communities throughout the country.</p>
				
				<p><a>UV Welcome Video</a></p>
				<br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<!-- End of Resident Resources Section -->
				
				<hr>
				
				<!-- Paying Rent By Check Section -->
				<h3 style="color: #369;">Paying Rent</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<!-- End of Paying Rent By Check Section -->
				
				<hr>
				
				<!-- Paying Rent By Direct Debit Section -->
				<h3 style="color: #369;">Third Section</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<!-- End of Paying Rent By Direct Debit Section -->
				
				<hr>
				
				<!-- Paying Rent By Credit Card Section -->
				<h3 style="color: #369;">Fourth Section</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<!-- End of Paying Rent By Credit Card Section -->
				
				<hr>
				
			</div>
		</div>
		<!-- End of Column Containing Community Info -->
		
		
		
		<!-- Column holding Notification Center -->
		<div class="col-xs-12 col-md-4" style="height: 100%; text-align: center;">
			<h1 style="color: #369;">Notification Center</h1>
			<div style="width: 90%; height: 100%; border: 1px solid #999; margin: 0px auto; overflow-y: auto; border-radius: 5px;">
				
				<!-- Beginning of the Card -->
				<div class="card text-xs-center" ng-repeat="item in todos | orderBy:'-id'">
					
					<a ui-sref="#" data-toggle="modal" data-target="#postModal" style="text-decoration: none; color: #000; cursor: pointer;">
						<div class="card-block">
							<p class="card-text" style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">{{item.description}}</p>
						<!--<small  class="text-warning"> [ {{item.id}} ]</small>-->
						</div>
					</a>
					
					<!-- Line break between notifications -->
					<hr style="width: 50%; color: #aaa;">
					<!-- End of line break -->
					
				</div>
				<!-- End of the Card -->
				
				<!-- Notification Cetner Post Modal -->
				<div id="postModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
					
						<!-- Modal content-->
						<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Post</h4>
						</div>
						<div class="modal-body">
							<p>This does not work yet</p>
						</div>
						<!-- End of Modal Content -->
						
						<!-- Modal Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						<!-- End of Modal Footer -->
						
						</div>
					</div>
				</div>
				<!-- End of Retail Modal -->
				
			</div>
		</div>
		<!-- End of column containing Notification Center -->
		
		
		
		<!-- Community Calendar Section -->
		<div class="col-xs-12 col-md-6" style="height: 90%; margin-top: 10px;"> <!-- add in ng-controller="calendarCtrl" once ready -->
			<div style="width: 100%; margin: 0px; padding-left: 20px;">
				<h1 style="color: #369;">Event Calendar</h1>
				<div id="content">
					<div id="calendar"></div>
				</div>
			</div>
			
		</div>
		<!-- End of Community Calendar Section -->
		
		
		
		<!-- Community Calendar Section -->
		<div class="col-xs-12 col-md-6" style="height: 90%; margin-top: 10px;"> <!-- add in ng-controller="calendarCtrl" once ready -->
			<div style="width: 100%; margin: 0px; padding-left: 20px;">
				<h1 style="color: #369;">Local Weather</h1>
				<!-- Docs at http://http://simpleweatherjs.com -->
				<div id="weather"></div>
			</div>
			
		</div>
		<!-- End of Community Calendar Section -->
		
		<!--<div class="col-xs-12" style="padding-top: 2%; text-align: center;" ng-controller="mapCtrl">
			<div id="mapsvg"></div>
		</div>-->

		<div class="col-xs-12" style="margin-top: -5%; text-align: center; height: 90%; color: #000;" ng-controller="mapCtrl">
			<h1>Village Map</h1>
			<div id="mapid"></div>
		</div>

	</div>
</div>