<div class="pgWrapper" ng-controller="threadCtrl" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 50px;">
		
		<!-- Far Left Column -->
		<div class="col-sm-12 col-md-4" style="height: 40%; border-radius: 10px; margin-left: 2%; margin-top: 69px; padding: 5px; border: 1px solid black;">
			<img src="img/sample profile pic.jpg" alt="Profile Picture" style="width: 100px; height: 100px; float: left; border-radius: 10px;"/>
			<h3 style="position: relative; padding: 0px;">Jane Doe</h3>
			
			<input type="text" class="form-control" ng-model="postDescription" placeholder="Add new post" required />
		
			<button ng-click="addItem()" ng-disabled="!postDescription" class="btn btn-primary" type="button">Post</button>
		</div>
		<!-- End of Far Left Column -->
		
		<!-- Beginning of Middle Column (Notification Center) -->
		<div class="col-sm-12 col-md-6" style="height: 90%; border-radius: 10px; margin-left: 2%; margin-right: 2%; text-align: center;">
			<h1>Notification Center</h1>
			<div style="width: 90%; height: 85%; border: 1px solid black; margin: 0px auto; overflow-y: auto; border-radius: 10px;">
				
				<!-- Beginning of the Card -->
				<div class="card text-xs-center" ng-repeat="item in todos | orderBy:'-id'">
					
					<a href="#" style="text-decoration: none; color: #000;">
						<div class="card-block">
							<p class="card-text" style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">{{item.description}}</p>
						<!--<small  class="text-warning"> [ {{item.id}} ]</small>-->
						</div>
					</a>
					
					<!-- Line break between notifications -->
					<hr style="width: 50%; color: #aaa;">
					<!-- End of line break -->
					
				</div>
				<!-- End of the Card -->
				
			</div>
		</div>
		<!-- End of Middle Column (Notification Center) -->
		
		<!-- Beginning of Far Right Column (Side Nav) -->
		<div class="col-sm-12 col-md-1" style="height: 76%; border-radius: 10px; margin-top: 69px; border: 1px solid black;">
			<div class="sidebar-nav" style="width: 100%;">
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="visible-xs navbar-brand">Sidebar menu</span>
					</div>
					<div class="navbar-collapse collapse sidebar-navbar-collapse">
					<ul class="nav navbar-nav" style="text-align: center;">
						<li class="active"><a ui-sref="#"><span class="glyphicon glyphicon-home" style="font-size: 26px;"></span>Home</a></li>
						<li><a ui-sref="unionVillage.medicalPortal">Menu Item 2</a></li>
						<li><a href="#">Menu Item 3</a></li>
						<li><a href="#">Menu Item 4</a></li>
					</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- End of Far Right Column (Side Nav) -->
		
	</div>
</div>