<div class="pgWrapper" ng-controller="dashboardCtrl" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 50px;">
		
		<!-- Far Left Column -->
		<div class="col-xs-12 col-md-4" style="height: 18%; border-radius: 10px; margin-left: 2%; margin-top: 69px; padding: 10px; border: 1px solid black;">
			<img src="img/sample profile pic.jpg" alt="Profile Picture" style="width: 100px; height: 100px; float: left; border-radius: 10px;"/>
			<h3 style="position: relative; padding: 0px;">Jane Doe</h3>
			
			<input type="text" class="form-control" ng-model="postDescription" placeholder="Add new post" required />
		
			<button ng-click="addItem()" ng-disabled="!postDescription" class="btn btn-primary" type="button">Post</button>
		</div>
		<!-- End of Far Left Column -->
		
		<!-- Beginning of Middle Column (Notification Center) -->
		<div class="col-xs-12 col-md-6" style="height: 90%; border-radius: 10px; margin-left: 2%; margin-right: 2%; text-align: center;">
			<h1>Notification Center</h1>
			<div style="width: 90%; height: 85%; border: 1px solid black; margin: 0px auto; overflow-y: auto; border-radius: 10px;">
				
				<!-- Beginning of the Card -->
				<div class="card text-xs-center" ng-repeat="item in todos | orderBy:'-id'">
					
					<a ui-sref="#" data-toggle="modal" data-target="#postModal" style="text-decoration: none; color: #000; cursor: pointer;">
						<div class="card-block">
							<p class="card-text" style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">{{item.description}}</p>
						<!--<small  class="text-warning"> [ {{item.id}} ]</small>-->
						</div>
					</a>
					
					<!-- Line break between notifications -->
					<hr style="width: 50%; color: #aaa;">
					<!-- End of line break -->
					
				</div>
				<!-- End of the Card -->
				
				<!-- Notification Cetner Post Modal -->
				<div id="postModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
					
						<!-- Modal content-->
						<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Post</h4>
						</div>
						<div class="modal-body">
							<p>This does not work yet</p>
						</div>
						<!-- End of Modal Content -->
						
						<!-- Modal Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						<!-- End of Modal Footer -->
						
						</div>
					</div>
				</div>
				<!-- End of Retail Modal -->
				
			</div>
		</div>
		<!-- End of Middle Column (Notification Center) -->
		
	</div>
</div>