<!-- Beginning of Header/Navbar -->
<nav ng-class="{ hide: isActive('/')}" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="headerCtrl">
	
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="navbarCollapsed = !navbarCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-header" style="padding-top: 7px;">
				<a ui-sref='unionVillage.home' class="pull-left"><img src="img/Union Village logo trasparent.png" style="height: 30px; margin-right: 5px;"></a>
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!--<div class="navbar-header">
                  <a class="navbar-brand" href="index.html"><span class="union">Union</span><span class="village">Village</span></a>
                </div>-->
                  
                <!-- This is the proper image for the header
                <div class="navbar-header" style="padding-top: 7px;">
                  <a ui-sref='unionVillage.home' class="pull-left"><img src="img/Union-Village-Logo2.png" style="height: 30px; margin-right: 5px;"></a>
                </div>-->
			
			<ul class="nav navbar-nav">
				<li ng-class="{ active: isActive('/dashboard')}"><a ui-sref="unionVillage.dashboard">Home</a></li>
				<!-- <li ng-class="{ active: isActive('/medicalPortal')}"><a ui-sref="unionVillage.medicalPortal">Medical Portal</a></li> -->
				<li ng-class="{ active: isActive('/community')}"><a ui-sref="unionVillage.community">UV Community</a></li>
				<li ng-class="{ active: isActive('/nearby')}"><a ui-sref="unionVillage.nearby">Nearby</a></li>
			</ul>
			<div class="pull-right" ng-controller="LoginCtrl">
				<a ng-href='#' ng-click="ref.unauth(); logout()" style="color: #aaa; text-decoration: none;">Logout</a>
			</div>
		</div>
	</div>
</nav>
<!-- End of Header/Navbar -->