<div ng-controller="LoginCtrl" class="loginWrapper" style="padding-top: 5%;">
	
	<div style="text-align: center;">
		<h2>Welcome to <img src="img/Union Village logo trasparent.png" alt="Union Village Logo" style="padding-bottom: 2px; height: 50px;" /></h2>
	</div>
	
	<!-- Username and Password input fields -->
	<div class="form-group" style="width: 40%; margin: 0px auto 10px;">
		<label for="usr">Email:</label>
		<input  type="text" class="form-control" id="email" placeholder="Email" ng-model="username" />
	</div>
	<div class="form-group" style="width: 40%; margin: 0px auto 10px;">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" />
	</div>
	
	<!-- Login Button -->
	<div style="text-align: center;">
		<button type="button" class="btn btn-primary" style="margin: 0px auto;" ng-click="login(username, password)"> 
			Login 
		</button>
	</div>
	
	<!-- Sign Up Button
	<button type="button" class="btn btn-danger" ng-click="register(username, password)"> 
		Sign Up 
	</button>-->


	<div class="col-xs-12 PortalSupportWrapper">
		<div style="width: 100%;">
			<h2 style="margin-left: 5%; color: #aaa;">Portal Support</h2>
		</div>
		
		<div class="container mainContainer">
			
			<!-- Section 1 -->
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
					<h4 class="panel-title">What Is The Portal?</h4>
					</div>
					
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
				<!-- End of Section 1 -->
				
				<!-- Section 2 -->
				<div class="panel panel-default">
					<div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
					<h4 class="panel-title">Interacting With The Community</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					</div>
				</div>
				<!-- End of Section 2 -->

				<!-- Section 3 -->
				<div class="panel panel-default">
					<div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
					<h4 class="panel-title">Requesting Community Services</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
				<!-- End of Section 3 -->
			
			</div>
			<!-- End of Panel Group --> 
		
		</div>
		<!-- End of Container -->
	</div>

</div>