<div ng-controller="LoginCtrl" class="loginWrapper" style="padding-top: 10%;">
	
	<div style="text-align: center;">
		<h2>Welcome to <img src="img/Union Village logo trasparent.png" alt="Union Village Logo" style="padding-bottom: 2px; height: 50px;" /></h2>
	</div>
	
	<!-- Username and Password input fields -->
	<div class="form-group" style="width: 40%; margin: 0px auto 10px;">
		<label for="usr">Email:</label>
		<input  type="text" class="form-control" id="email" placeholder="Email" ng-model="email" />
	</div>
	<div class="form-group" style="width: 40%; margin: 0px auto 10px;">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" />
	</div>
	
	<!-- Login Button -->
	<div style="text-align: center;">
		<button type="button" class="btn btn-primary" style="margin: 0px auto;" ng-click="login(email, password)"> 
			Login 
		</button>
	</div>
	
	<!-- Sign Up Button
	<button type="button" class="btn btn-danger" ng-click="register(username, password)"> 
		Sign Up 
	</button>-->

</div>