<div class="pgWrapper" ng-controller="threadCtrl" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 50px;">
		
		<div class="col-md-12" style="padding-top: 2%;">
          	
			<!-- tabs left -->
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs" style="height: 500px;">
					<li class="active"><a data-target="#additionalSelection" data-toggle="tab">One</a></li>
					<li><a data-target="#additionalSelection2" data-toggle="tab">Two</a></li>
					<li><a data-target="#additionalSelection3" data-toggle="tab">Three</a></li>
				</ul>
				<div class="tab-content">
				
					<div class="tab-pane active" id="additionalSelection">
						Testing 1
					</div>
					
					<div class="tab-pane" id="additionalSelection2">
						Testing 2
					</div>
					
					<div class="tab-pane" id="additionalSelection3">
						Testing 3
					</div>
				</div>
			</div>
			<!-- /tabs -->
		
		</div>
		
	</div>
</div>