<div class="pgWrapper li-main-wrapper" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 45px;">
		<div class="col-md-12" style="padding-top: 2%;">
          	
			<!-- Top Tab Bar -->
			<ul class="nav nav-tabs">
				<li class="active" style="margin-left: 3%;"><a data-target="#additionalSelection" data-toggle="tab">Reservations</a></li>
				<li><a data-target="#additionalSelection2" data-toggle="tab">Management Team</a></li>
				<li><a data-target="#additionalSelection3" data-toggle="tab">Resources</a></li>
			</ul>
			<div class="tab-content">
				
				
				<!-- Tab Selection 1 --
				<div class="tab-pane active" id="additionalSelection" style="padding-top: 2%; text-align: center; height: 100%;" ng-controller="mapCtrl">
					
					<div class="col-xs-12" style="padding-top: 2%; text-align: center; height: 90%">

						<div id="mapid"></div>

					</div>
					
				</div>
				<!-- End of Tab Selection 1 -->
				
				
				<!-- Tab Selection 2 -->
				<div class="tab-pane active" id="additionalSelection" style="padding-top: 2%; padding-left: 3%;">
					<form action="php/reservations_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
				
						<input type="text" class="form-control" ng-model="name" name="name" id="name" style="width: 75%; display: none;"/><br>

						
						<label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
						<input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
						
						
						<!--<label for="message" style="margin-top: 0px;">Message:</label>
						<textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;"></textarea><br>-->
						
						
						<label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
						<select class="form-control" id="facility" name="facility" style="width: 75%;" required>
						<option value="Basketball Court" selected>Basketball Court</option>
						<option value="Tennis Court">Tennis Court</option>
						<option value="Office Space">Office Space</option>
						</select><br>


						<label for="datepicker" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Date:</label>
						<input type="text" class="form-control" ng-model="date" name="date" id="datepicker" style="width: 20%;" required>

						<input class="btn btn-primary" type="submit" name="submit" value="Submit" style="margin-top: 3%;">
					</form>
				</div>
				<!-- End of Tab Selection 2 -->
				
				
				
				<!-- Tab Selection 4 -->
				<div class="tab-pane pane4" id="additionalSelection2" style="padding-top: 2%; padding-left: 3%;">
					<div class="col-xs-12" style="padding-bottom: 5%;">
						<h2>Management Team</h2>

						<!-- community manager section -->
						<div class="col-xs-12 col-md-4" style="padding: 0px; height: 400px;">
							<img src="../img/ghProfile.png" style="margin: 0px; width: 100%; height: 100%;" />
						</div>
						<div class="col-xs-12 col-md-8" style="height: 400px;">
							<h2 style="margin-bottom: 0px;">Gary Holland</h2>
							<h3 style="margin-top: 0px;">Partner</h3>
							<h4 style="margin-top: 8px; color: #aaa;">gh@unionvillage.net</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<!-- end of community manager section -->



						<!-- community manager section -->
						<div class="col-xs-12 col-md-8" style="text-align: right;">
							<h2 style="margin-bottom: 0px;">Craig Johnson</h2>
							<h3 style="margin-top: 0px;">Partner</h3>
							<h4 style="margin-top: 8px; color: #aaa;">cj@unionvillage.net</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-xs-12 col-md-4" style="padding: 0px; height: 400px;">
							<img src="../img/cjProfile.png" style="margin: 0px; width: 100%; height: 100%;" />
						</div>
						<!-- end of community manager section -->



						<!-- community manager section -->
						<div class="col-xs-12 col-md-4" style="padding: 0px; height: 400px;">
							<img src="../img/dbProfile.png" style="margin: 0px; width: 100%; height: 100%;" />
						</div>
						<div class="col-xs-12 col-md-8" style="height: 400px;">
							<h2 style="margin-bottom: 0px;">David Baker</h2>
							<h3 style="margin-top: 0px;">Partner</h3>
							<h4 style="margin-top: 8px; color: #aaa;">db@unionvillage.net</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<!-- end of community manager section -->

						
					</div>
				</div>
				<!-- End of Tab Selection 4 -->
				
				
				
				<!-- Tab Selection 5 -->
				<div class="tab-pane" id="additionalSelection3" style="padding-top: 2%; padding-left: 3%;" ng-controller="accordionCtrl">
					<div class="col-xs-12">
						<h2>Community Resources</h2>
						
						<div class="container mainContainer">
							
							<!-- 'What is Hive?' Section -->
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
									<h4 class="panel-title">Community Policies</h4>
									</div>
									
									<div id="collapse1" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									</div>
								</div>
								<!-- End of 'What is Hive?' Section -->
								
								<!-- 'What is a Developer Project/“1 Minute App”?' Section -->
								<div class="panel panel-default">
									<div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
									<h4 class="panel-title">Utilities Directory</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									</div>
								</div>
								<!-- End of 'What is a Developer Project/“1 Minute App”?' Section -->
							
							</div>
							<!-- End of Panel Group --> 
						
						</div>
						<!-- End of Container -->
					</div>
				</div>
				<!-- End of Tab Selection 5 -->
				
			</div>
			<!-- end of top tab bar -->
		
		</div>		
	</div>
</div>