<div class="pgWrapper" ng-controller="dashboardCtrl" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 50px;">
		
		<div class="col-md-12" style="padding-top: 2%;">
          	
			<!-- Top Tab Bar -->
			<ul class="nav nav-tabs">
				<li class="active" style="margin-left: 3%;"><a data-target="#additionalSelection" data-toggle="tab">Reservations</a></li>
				<li><a data-target="#additionalSelection2" data-toggle="tab">Service Requests</a></li>
				<li><a data-target="#additionalSelection3" data-toggle="tab">Leasing Info</a></li>
			</ul>
			<div class="tab-content">
				
				<div class="tab-pane active" id="additionalSelection" style="padding-top: 2%; padding-left: 3%;">
					Testing 1
				</div>
				
				<div class="tab-pane" id="additionalSelection2" style="padding-top: 2%; padding-left: 3%;">
					Testing 2
				</div>
				
				<div class="tab-pane" id="additionalSelection3" style="padding-top: 2%; padding-left: 3%;">
					Testing 3
				</div>
			</div>
			<!-- end of top tab bar -->
			
			<!-- tabs left --
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs" style="height: 500px; margin-left: 15px;">
					<li class="active"><a data-target="#additionalSelection" data-toggle="tab">Reservations</a></li>
					<li><a data-target="#additionalSelection2" data-toggle="tab">Service Requests</a></li>
					<li><a data-target="#additionalSelection3" data-toggle="tab">Leasing Info</a></li>
				</ul>
				<div class="tab-content">
				
					<div class="tab-pane active" id="additionalSelection">
						Testing 1
					</div>
					
					<div class="tab-pane" id="additionalSelection2">
						Testing 2
					</div>
					
					<div class="tab-pane" id="additionalSelection3">
						Testing 3
					</div>
				</div>
			</div>
			<!-- /tabs -->
		
		</div>
		
	</div>
</div>