<div class="pgWrapper" ng-controller="threadCtrl" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%; margin-top: 50px; margin-bottom: 200px;">
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Middle Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Middle Column -->
		
		<!-- Right Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Right Column -->
		
		<!-- Right Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Right Column -->
		
		
		
		
		
		
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
	</div>
	
	<div class="row" style="height: 100%; margin-top: 50px; margin-bottom: 200px;">
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Middle Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Middle Column -->
		
		<!-- Right Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Right Column -->
		
		<!-- Right Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Right Column -->
		
		
		
		
		
		
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
		<!-- Left Column -->
		<div class="col-xs-12 col-md-3" style="height: 350px; margin-top: 5%; padding-left: 2%; padding-right: 2%;">
			
			<div class="card" style="background-color: #e9e9e9; height: 100%; box-shadow: -6px 8px 10px -4px #999;">
				<img class="card-img-top" src="img/mgmAd.jpg" alt="Card image cap" style="width: 100%; height: 150px;">
				<div class="card-block" style="height: 50%; text-align: center; padding: 5px; color: #000;">
					<!-- Should assign a max Char count of 25 to this Header --><h4 class="card-title" style="color: #000;">Special title treatment</h4>
					<!-- Should assign a max Char count of 175 to this Paragraph --><p class="card-text" style="color: #7e7e7e;"> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in</p>
				</div>
				
				<div class="card-footer text-muted" style="margin-top: -5%; text-align: center;">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
			
		</div>
		<!-- End of Left Column -->
		
	</div>
</div>