<div class="pgWrapper" style="height: 100vh; width: 100%;">

	<div class="row" style="height: 100%; margin-top: 50px; margin-bottom: 200px;">
		
		<div class="col-md-12" style="padding-top: 2%;">
          	
			<!-- tabs left -->
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs" style="height: 500px; margin-left: 15px;">
					<li class="active cursorPointer"><a data-target="#additionalSelection" data-toggle="tab">Restaurants</a></li>
					<li class="cursorPointer"><a data-target="#additionalSelection2" data-toggle="tab">Entertainment</a></li>
					<li class="cursorPointer"><a data-target="#additionalSelection3" data-toggle="tab">Sight Seeing</a></li>
				</ul>
				<div class="tab-content">
				
					<div class="tab-pane active" id="additionalSelection" style="padding-left: 15%;" ng-controller="restaurantsCtrl">
						<!-- restaurant card column -->
						<div class="col-xs-9" style="height: 200px; margin-top: 20px; padding-right: 2%;">

							<div class="card" ng-repeat="item in todos | orderBy:'-id'" style="background-color: #fff; border: 1px solid #aaa; height: 80%; box-shadow: -6px 8px 10px -4px #999; margin-bottom: 3%; border-radius: 5px; position: relative;">
								<div class="card-block" style="height: 50%; padding: 5px 5px 5px 10px; color: #000;">
									<h4 class="card-title" style="color: #000;">{{item.header}}</h4>
									<!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
									<p class="card-text" style="color: #000;">{{item.description}}</p>
								</div>
								<div style="position: absolute; bottom: 0; width: 100%; height: 30px; padding-left: 10px;">
									<a href="#" class="card-link">Card link</a>
									<a href="#" class="card-link">Another link</a>
								</div>
							</div>
							
						</div>
						<!-- end of card column -->


						<!-- ad column -->

						<!-- end of ad column -->
											
					</div>

					
					
					<div class="tab-pane" id="additionalSelection2" style="padding-left: 15%;" ng-controller="gamblingCtrl">
						
						<!-- entertainment card column -->
						<div class="col-xs-9" style="height: 200px; margin-top: 20px; padding-right: 2%;">
			
							<div class="card" ng-repeat="item in todos | orderBy:'-id'" style="background-color: #fff; border: 1px solid #aaa; height: 80%; box-shadow: -6px 8px 10px -4px #999; margin-bottom: 3%; border-radius: 5px; position: relative;">
								<div class="card-block" style="height: 50%; padding: 5px 5px 5px 10px; color: #000;">
									<h4 class="card-title" style="color: #000;">{{item.header}}</h4>
									<!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
									<p class="card-text" style="color: #000;">{{item.description}}</p>
								</div>
								<div style="position: absolute; bottom: 0; width: 100%; height: 30px; padding-left: 10px;">
									<a href="#" class="card-link">Card link</a>
									<a href="#" class="card-link">Another link</a>
								</div>
							</div>
							
						</div>
						<!-- end of card column --> 


						<!-- ad column -->
						
						<!-- end of ad column -->
					</div>
					
					
					
					<div class="tab-pane" id="additionalSelection3" style="padding-left: 15%;" ng-controller="sightsCtrl">
						
						<!-- sight seeing card column -->
						<div class="col-xs-9" style="height: 200px; margin-top: 20px; padding-right: 2%;">
			
							<div class="card" ng-repeat="item in todos | orderBy:'-id'" style="background-color: #fff; border: 1px solid #aaa; height: 80%; box-shadow: -6px 8px 10px -4px #999; margin-bottom: 3%; border-radius: 5px; position: relative;">
								<div class="card-block" style="height: 50%; padding: 5px 5px 5px 10px; color: #000;">
									<h4 class="card-title" style="color: #000;">{{item.header}}</h4>
									<!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
									<p class="card-text" style="color: #000;">{{item.description}}</p>
								</div>
								<div style="position: absolute; bottom: 0; width: 100%; height: 30px; padding-left: 10px;">
									<a href="#" class="card-link">Card link</a>
									<a href="#" class="card-link">Another link</a>
								</div>
							</div>
							
						</div>
						<!-- end of card column -->
						

						<!-- ad column -->
						
						<!-- end of ad column -->

					</div>


				</div>

			</div>
			<!-- /tabs -->
		
		</div>
		
		
	</div>
	
</div>