<body ng-app="unionVillage">
    
    <div class="call-main-wrapper" style="height: 100vh; width: 100%; margin-top: 55px;">
      <div class="row">
        
        <div class="col-sm-12" style="text-align: center; margin-top: 5%;">
          
          <!--<h3>Office Hours:</h3>
            <h4 style="margin-bottom: 0px;">Monday-Saturday: </h4>
            <p style="margin-top: 0px;">9am-5pm PST</p>
            
            <h4 style="margin-top: 5px; margin-bottom: 0px;">Sunday:</h4>
            <p style="margin-top: 0px;">Closed</p>
            
            <span style="text-decoration: none; font-size: 16px;"><b>Phone: </b></span><a href="tel:+1-702-560-5586">+1 (702) 560-5586</a>-->
			
			<h2>Thank you for your submission!</h2>
			<br>
			<h4>We will do our best to get back to you as soon as possible!</h4>
			
			
			
			<h4>In the mean time feel free to explore the rest of our site to learn more about Union Village and our Mission.</h4>
            
          </div>
        </div>
      </div>
  
</body>