<div ng-controller="threadCtrl" class="container threadContainer">

	<h2>Realtime Thread with AngularJS and AngularFire/Firebase</h2>
	<h4>You can test it by opening two browsers (must be firefox or own webserver due to use of ui-router) and adding a Post</h4>
	
	
	<!--ADD ITEM FORM-->
	<form name="myForm">
		<div class="form-div">
			<input type="text" class="form-control" ng-model="postDescription" placeholder="Add new post" required />
		
			<button ng-click="addItem()" ng-disabled="!postDescription" class="btn btn-primary" type="button">Post</button>
		</div>
	
	</form>
	
	<hr>
	
	<!-- Beginning of Card -->
	<div class="card text-xs-center" ng-repeat="item in todos | orderBy:'-id'">
		<div class="card-header">
			<img class="card-img-top" data-src="..." alt="Card image">
		</div>
		<div class="card-block">
			<h4 class="card-title">Card Title</h4>
			<p class="card-text">{{item.description}}</p><small  class="text-warning"> [ {{item.id}} ]</small>
		</div>
		<div class="card-footer text-muted">
			<!-- You can add buttons such as 'Like', 'Delete', etc. in here -->
		</div>
	</div>
	<!-- End of Card -->

</div>

