div.desktopHP {
    width: 100%;
    height: 100vh;
}
@media (max-width: 1000px){
    div.desktopHP {
        display: none;
    }
}

div.mobileHP {
    width: 100%;
    height: 100vh;
}
@media (min-width: 1000px){
    div.mobileHP {
        display: none;
    }
}

/* Carousel Styling for Home Page/First Section */
div.desktopHP #one{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 590px; /*slider height*/
}

.carousel .carousel-inner .item img.homeimg {
    width: 100%; /*img width*/
    height: 100vh; /*img height*/
}

.carousel .carousel-inner-home .item .carousel-caption {
    background-color: rgba(87, 87, 87, 0.5);
}

/* Styling for carousel "Scroll Down" button */
.carousel .item .carousel-caption .hp-scroll {
    font-size: 20px; 
    color: #fff; 
    text-decoration: none; 
    cursor: pointer;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
/* End of Carousel Styling and full page styling for Home Page */

/* Beginning of Homepage Sections Styling */

/* Top Section/Section 1 */
.top-section .block div#homeCarousel .carousel-inner {
    height: 100vh;
}

.top-section .block div#homeCarousel .carousel-inner .item .carousel-caption h1 {
    margin-bottom: 5%;
    color: #fff;
}


/* Section 2 - Top Rows */
div.desktopHP #two{
    width: 100%;
    height: 100vh;
    top: 640px;
    position: relative;
    padding-top: 40px;
    z-index: 2;
    margin-left: 0px;
    background: #fff;
    text-align: center;
}
.second-section .hp-header2 {
	margin-top: 1%;
	color: #000;
}

.second-section .mission-row {
    height: 70%;
    width: 100%;
    margin-left: 0px;
}

.second-section .mission-row iframe {
    margin-top: 3%;
}

.second-section .mission-row p {
    padding: 3%;
}

.second-section .bot-col-7 {
    text-align: center;
}

.second-section .bot-col-7 a {
    font-size: 20px;
    color: #000;
    margin-top: 3%;
    text-decoration: none;
    cursor: pointer;
}
/* End of Section 2 */



/* Beginning of Section 3 */
div.desktopHP #three{
    width: 100%;
    height: 100vh;
    top: 640px;
    position: relative;
    padding-top: 40px;
    z-index: 2;
    margin-left: 0px;
    background: #74b0d2;
    color: #fff;
    text-align: center;
}

.third-section .hp-header3 {
	margin-top: 1%;
}

.third-section .vision-row {
    height: 75%;
    width: 100%;
    margin-left: 0px;
}

.third-section .vision-row h4 {
    padding: 3%;
}

.third-section .bot-col-7 {
    text-align: center;
}

.third-section .bot-col-7 a {
    font-size: 20px;
    color: #fff;
    margin-top: 3%;
    text-decoration: none;
    cursor: pointer;
}
/* End of Third Section */



/* Beginning of Section 4 */
div.desktopHP #four{
    width: 100%;
    height: 100vh;
    top: 640px;
    position: relative;
    padding-top: 40px;
    z-index: 2;
    margin-left: 0px;
    background: #fff;
    text-align: center;
}

.fourth-section .values-row {
    text-align: left;
}

.fourth-section .values-row div .valuesList {
    margin-top: 25%;
    margin-left: 10%;
}

.fourth-section .values-row div .valuesList .valuesListItem {
    font-size: 20px;
}

.fourth-section .values-row div .coreImg {
    width: 100%;
}
/* End of all Home Page Styling for desktop */





/* Beginning of Home Page Styling for Mobile */
/* First Section/Carousel */
.mobileHP .top-section {
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
}
.mobileHP .carousel .carousel-inner .item video.homevid {
    width: 100%; /*vid width*/
    height: 100vh; /*vid height*/
}

/* Mobile Carousel Caption Styling */
.mobileHP .carousel .carousel-inner .item .carousel-caption{
    background-color: rgba(87, 87, 87, 0.5);
}

/* Mobile Carousel Text Styling */
.mobileHP .carousel .carousel-inner .item .carousel-caption h1{
    margin-bottom: 5%;
    color: #fff;
}
/* End of First section and Carousel */



/* Beginning of Second Section */ 
.mobileHP .mob-second-section {
    width: 100%;
    height: 100vh;
    top: 600px !important;
    position: relative;
    padding-top: 0px !important;
    z-index: 2;
    margin-left: 0px;
    background: #fff;
    text-align: center;
}
/* Header Styling for iphone6 and larger */
@media (min-width: 350px){
    .mobileHP .mob-second-section .col-top .missionHead {
        font-size: 36px;
    }
}

/* Top column containing the header and image */
.mobileHP .mob-second-section .col-top {
    height: 45%;
}
/* top column image */
.mobileHP .mob-second-section .col-top img {
    width: 90%;
}

/* Middle column containing main paragraph */
.mobileHP .mob-second-section .col-mid {
    height: 40%;
}

/* Bottom column containing main paragraph */
.mobileHP .mob-second-section .col-bot {
    height: 5%;
    text-align: center;
    padding-top: 8%;
}

.mobileHP .mob-second-section .col-bot p {
    font-size: 20px;
}

/* Font Styling for iphone4 screen sizes */
@media (max-height: 500px){
    .mobileHP .mob-second-section .col-bot p {
        font-size: 14px;
    }
}
/* Font Styling for iphone5 screen sizes */
@media (min-height: 550px){
    .mobileHP .mob-second-section .col-bot p {
        font-size: 16px;
    }
}
/* Font Styling for iphone6 screen sizes */
@media (min-width: 350px){
    .mobileHP .mob-second-section .col-bot p {
        font-size: 18px;
    }
}
/* End of Second Section */



/* Beginning of Third Section */
.mobileHP .mob-third-section{
    width: 100%;
    height: 100vh;
    top: 600px !important;
    position: relative;
    padding-top: 0px !important;
    z-index: 2;
    margin-left: 0px;
    background: #74b0d2;
    text-align: center;
}
/* Header Styling for iphone6 and larger */
@media (min-width: 350px){
    .mobileHP .mob-third-section .col-top .visionHead {
        font-size: 36px;
    }
}

/* Top column containing the header and image */
.mobileHP .mob-third-section .col-top {
    height: 45%;
}
/* top column image */
.mobileHP .mob-third-section .col-top img {
    width: 90%;
}
/* Image Styling for iphone4 screen sizes */
@media (max-height: 500px){
    .mobileHP .mob-third-section .col-top img {
        width: 100%;
        height: 75%;
    }
}
/* Image Styling for iphone5 screen sizes */
@media (min-height: 550px){
    .mobileHP .mob-third-section .col-top img {
        width: 100%;
        height: 75%;
    }
}
/* Image Styling for iphone6 screen sizes */
@media (min-width: 350px){
    .mobileHP .mob-third-section .col-top img {
        width: 100%;
        height: 75%;
    }
}

/* Middle column containing main paragraph */
.mobileHP .mob-third-section .col-mid {
    height: 40%;
}

.mobileHP .mob-third-section .col-mid p {
    font-size: 20px;
}
/* Font Styling for iphone4 screen sizes */
@media (max-height: 500px){
    .mobileHP .mob-third-section .col-mid p {
        font-size: 20px;
        margin-top: 3%;
    }
}
/* Font Styling for iphone5 screen sizes */
@media (min-height: 550px){
    .mobileHP .mob-third-section .col-mid p {
        font-size: 22px;
        margin-top: 3%;
    }
}
/* Font Styling for iphone6 screen sizes */
@media (min-width: 350px){
    .mobileHP .mob-third-section .col-mid p {
        font-size: 26px;
        margin-top: 3%;
    }
}
/* End of Third Section */



/* Beginning of Fourth Section */
.mobileHP .mob-fourth-section{
    width: 100%;
    height: 100vh;
    top: 600px !important;
    position: relative;
    padding-top: 0px !important;
    z-index: 2;
    margin-left: 0px;
    background: #fff;
    text-align: center;
}
/* Header Styling for iphone6 and larger */
@media (min-width: 350px){
    .mobileHP .mob-fourth-section .valuesHead {
        font-size: 36px;
    }
}

.mobileHP .mob-fourth-section .values-row {
    text-align: left;
}


/* Unordered List Styling */
.mobileHP .mob-fourth-section .values-row div .valuesList {
    margin-top: 25%;
    margin-left: 10%;
}
/* Font Styling for iphone4 screen sizes */
@media (max-height: 500px){
    .mobileHP .mob-fourth-section .values-row div .valuesList {
        margin-top: 5%;
        margin-left: 5%;
    }
}
/* Font Styling for iphone5 screen sizes */
@media (min-height: 550px){
    .mobileHP .mob-fourth-section .values-row div .valuesList {
        margin-top: 5%;
        margin-left: 5%;
    }
}
/* Font Styling for iphone6 screen sizes */
@media (min-width: 350px){
    .mobileHP .mob-fourth-section .values-row div .valuesList {
        margin-top: 5%;
        margin-left: 5%;
    }
}


/* List Item Styling */
.mobileHP .mob-fourth-section .values-row div .valuesList .valuesListItem {
    font-size: 14px;
}

/* Font Styling for iphone4 screen sizes */
@media (max-height: 500px){
    .mobileHP .mob-fourth-section .values-row div .valuesList .valuesListItem {
        font-size: 16px;
    }
}
/* Font Styling for iphone5 screen sizes */
@media (min-height: 550px){
    .mobileHP .mob-fourth-section .values-row div .valuesList .valuesListItem {
        font-size: 20px;
    }
}
/* Font Styling for iphone6 screen sizes */
@media (min-width: 350px){
    .mobileHP .mob-fourth-section .values-row div .valuesList .valuesListItem {
        font-size: 26px;
    }
}

.mobileHP .mob-fourth-section .values-row div .coreImg {
    width: 100%;
}
/* End of Fourth Section */