.li-main-wrapper .row .col-sm-4 .inner-wrapper {
	min-height: 300px;
	width: 90%;
	margin: 5%;
	position: relative;
	z-index: 1;
}

.li-main-wrapper .row .col-sm-4 .inner-wrapper a {
	text-decoration: none;
	color: #fff;
}

.li-main-wrapper .row .col-sm-4 .inner-wrapper a img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.li-main-wrapper .row .col-sm-4 .inner-wrapper a div#overlay_text {
	position: relative;
	top: 0px;
	z-index: 3;
	font-size: 24px;
	width: 100%;
	background-color: rgba(87, 87, 87, 0.85);
}