/* Top Rows */
.press-page-wrapper .top-rows {
	width: 100%;
	margin-left: 0px;
	margin-top: 3%;
}

.press-page-wrapper .top-rows col-sm-3 {
	height: 100%;
	padding: 5px;
}

.press-page-wrapper .top-rows col-sm-6 {
	height: 100%;
	padding: 2%;
}
/* End of Top Rows */

/* Bottom Rows */
.press-page-wrapper .bottom-rows {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 5%;
}

.press-page-wrapper .bottom-rows .col-sm-3 {
	padding: 5px;
}

.press-page-wrapper .bottom-rows .col-sm-3 a img {
	width: 100%;
}
/* End of Bottom Rows */