/* Main Body Styling */
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: dimgrey; 
  color: #696969;
  max-width: 100%;
  overflow-x: hidden;
}

#main {
  margin-top: 5%;
  padding: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}


/* Navbar Styling

Navbar background color */
nav.navbar {
  /*background-color: #837e72;*/
  background-color: #fff;
  margin: 0px !important;
  border-radius: 0 !important;
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 10px -6px #999;
}


/* Bottom Navbar with Navbar span formatting for Union and Village */
nav.navbar div a span.union {
  color: #73bb5b; /* Changes the word "Union" in Header to Green */
  margin-right: 3px;
}

/* Navbar Font Coloring */
nav.navbar div ul li.active a {
  color: #000 !important; /* Changes font color to black on active tab */
}

nav.navbar div ul li a {
  color: #999 !important; /* Changes font color of main tabs */
  font-size: 14px; /* Changes font size of main tabs */
}

nav.navbar div ul ul.dropdown-menu li a {
  color: #999 !important;
}

/* Styling for hamburger menu transitions on mobile */
.navbar-default .navbar-nav li a:hover {
  transition: 0.7s all linear;
	height: 100%;
}

/* End of Top Navbar Styling */

/* custom inclusion of right, left and below tabs */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
/* End of Tab Left Styling */



/* Leasing Info Styling */
.li-main-wrapper{
	margin-top: 55px;
}
.li-main-wrapper .row .col-xs-12 .inner-wrapper {
	min-height: 300px;
	width: 90%;
	margin: 5%;
	position: relative;
	z-index: 1;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a {
	text-decoration: none;
	color: #fff;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
    cursor: pointer;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a div#overlay_text {
	position: relative;
	top: 0px;
	z-index: 3;
	font-size: 24px;
	width: 100%;
	background-color: rgba(87, 87, 87, 0.85);
    cursor: pointer;
}
/* End of Leasing Info Styling */



/* Footer Styling for Entire Site */
.navbar#foot01 {
  min-height:20px !important;
  height: 20px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 5px;
  color: #fff; 
  text-align: right; 
}