@import 'homepage.css';
@import 'ourCompany.css';


/* Main Body Styling */
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: dimgrey; 
  color: #696969;
  max-width: 100%;
  overflow-x: hidden;
}

#main {
  margin-top: 5%;
  padding: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}


/* Navbar Styling

Navbar background color */
nav.navbar {
  background-color: #837e72;
  margin: 0px !important;
  border-radius: 0 !important;
}


/* Bottom Navbar with Navbar span formatting for Union and Village */
nav.navbar div a span.union {
  color: #73bb5b; /* Changes the word "Union" in Header to Green */
  margin-right: 3px;
}
nav.navbar div a span.village {
  color: #fff !important; /* Changes the word "Village" in Header to White */
}

/* Navbar Font Coloring */
nav.navbar div ul li.active a {
  color: #000 !important; /* Changes font color to black on active tab */
}

nav.navbar div ul li a {
  color: #fff !important; /* Changes font color of main tabs */
  font-size: 12px; /* Changes font size of main tabs */
}

nav.navbar div ul ul.dropdown-menu li a {
  color: #000 !important;
}

/* Styling for hamburger menu transitions on mobile */
.navbar-default .navbar-nav li a:hover {
  transition: 0.7s all linear;
	height: 100%;
}



/* Carousel Styling for Photos Page */
.carousel .item div#photos-carousel {
  top: 0px !important;
}
.carousel .item div.carousel-caption h1 {
  color: #000;
}
/* End of Photos Page */



/* Styling for Location Page */
section#sec-loc .item {
  width: 100%;
  height: 100vh;
}

/* Page Loader (Only being used on Location Page) */
#page {
  display: none;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}
/* End of Location Page */



/* Footer Styling for Entire Site */
.navbar#foot01 {
  min-height:20px !important;
  height: 20px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 5px;
  color: #fff; 
  text-align: right; 
}