/* Main Body Styling */
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: dimgrey; 
  color: #696969;
  max-width: 100%;
  overflow-x: hidden;
}

#main {
  margin-top: 5%;
  padding: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}


.topBorder {
  border-top: 2px solid #aaa;
}
.leftBorder {
  border-left: 2px solid #aaa;
}
.rightBorder {
  border-right: 2px solid #aaa;
}
.bottomBorder {
  border-bottom: 2px solid #aaa;
}


/* Navbar Styling

Navbar background color */
nav.navbar {
  /*background-color: #837e72;*/
  background-color: #fff;
  margin: 0px !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 10px -6px #999;
}


/* Bottom Navbar with Navbar span formatting for Union and Village */
nav.navbar div a span.union {
  color: #73bb5b; /* Changes the word "Union" in Header to Green */
  margin-right: 3px;
}

/* Navbar Font Coloring */
nav.navbar div ul li.active a {
  color: #000 !important; /* Changes font color to black on active tab */
}

nav.navbar div ul li a {
  color: #999 !important; /* Changes font color of main tabs */
  font-size: 14px; /* Changes font size of main tabs */
}

nav.navbar div ul ul.dropdown-menu li a {
  color: #999 !important;
}

/* Styling for hamburger menu transitions on mobile */
.navbar-default .navbar-nav li a:hover {
  transition: 0.7s all linear;
	height: 100%;
}

/* End of Top Navbar Styling */

/* custom inclusion of right, left and below tabs */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
/* End of Tab Left Styling */



/* Dashboard Styling for Community Calendar */

/* End of Dashboard Styling for Community Calendar */



/* Leasing Info Styling */
.li-main-wrapper{
	margin-top: 55px;
}
.li-main-wrapper .row .col-xs-12 .inner-wrapper {
	min-height: 300px;
	width: 90%;
	margin: 5%;
	position: relative;
	z-index: 1;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a {
	text-decoration: none;
	color: #fff;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
    cursor: pointer;
}

.li-main-wrapper .row .col-xs-12 .inner-wrapper a div#overlay_text {
	position: relative;
	top: 0px;
	z-index: 3;
	font-size: 24px;
	width: 100%;
	background-color: rgba(87, 87, 87, 0.85);
    cursor: pointer;
}
/* End of Leasing Info Styling */



/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

#weather {
  width: 425px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: #2d98c4;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}
/* End of Weather Widget Styling */



/* Footer Styling for Entire Site */
.navbar#foot01 {
  min-height:20px !important;
  height: 20px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 5px;
  color: #000; 
  text-align: right; 
}

#mapid { height: 100%; }



/* styling for the accordion heading */
.li-main-wrapper div#additionalSelection3 .panel-heading {
  background-color: transparent !important; 
}

/* styling for the accordion heading after opening - this also controls chevron togle */
.li-main-wrapper div#additionalSelection3 .panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: 20px;
    color: #2d98c4;
}

/* styling for the accordion heading after collapsing - this also controls chevron togle */
.li-main-wrapper div#additionalSelection3 .panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e080";
    /* adjust as needed, taken from bootstrap.css */
}

/* styling for the accordion heading on hover */
.li-main-wrapper div#additionalSelection3 .panel-heading:hover {
    cursor: pointer;
}
.li-main-wrapper div#additionalSelection3 .panel-heading:hover h4 {
    text-decoration: none;
}

/* styling for the title of the accordion heading */
.loginWrapper .PortalSupportWrapper .mainContainer .panel-group .panel-default .panel-title,
.li-main-wrapper div#additionalSelection3 .panel-title {
  color: #2d98c4;
}

/* styling for the body of the accordion */
.li-main-wrapper div#additionalSelection3 .panel-body {
  width: 100% !important;
  padding: 10px;
  text-align: left;
  border-top: 1px solid #aaa;
}

/* styling for mobile */
@media (max-width: 420px) {
  /* make the font-size of the title in the accordion header smaller */
  .li-main-wrapper div#additionalSelection3 .panel-title {
    font-size: 10px;
  }
  /* make the chevron smaller and closer to the bottom */
  .li-main-wrapper div#additionalSelection3 .panel-heading.accordion-toggle:after {
    font-size: 12px;
    bottom: 16px;
  }
  .li-main-wrapper div#additionalSelection3 .panel-heading.accordion-toggle.collapsed:after {
    font-size: 12px;
    bottom: 16px;
  }
  
  /* styling for the body of the accordion to make font size smaller */
  .li-main-wrapper div#additionalSelection3 .panel-body p {
    font-size: 12px;
  }
  
  /* adjust margin of mainContainer to make it closer to the top of the page */
  .li-main-wrapper div#additionalSelection3 div.mainContainer {
    margin-top: -40px !important;
  }

}