.wv-page-wrapper div .carousel-inner{
	height: 100vh;
}

.wv-page-wrapper div .carousel-inner .item .carousel-caption{
	background-color: rgba(87, 87, 87, 0.5);
}

.wv-page-wrapper div .carousel-inner .item .carousel-caption #carousel-paragraph {
	font-size: 24px;
	color: #fff;
}